# Assignment 1 Day 2

# LIST and its default functions

In [1]:
lst=["Siddhesh",1234,45,[1,2,3]]
lst

['Siddhesh', 1234, 45, [1, 2, 3]]

In [2]:
lst.insert(0,23)
lst

[23, 'Siddhesh', 1234, 45, [1, 2, 3]]

In [3]:
lst.remove(23)
lst

['Siddhesh', 1234, 45, [1, 2, 3]]

In [4]:
lst.append("abc")
lst

['Siddhesh', 1234, 45, [1, 2, 3], 'abc']

In [5]:
lst.pop()
lst

['Siddhesh', 1234, 45, [1, 2, 3]]

In [6]:
lst.index(1234)

1

In [8]:
lst.clear()
lst

[]

# Dictonary and its default functions

In [9]:
d={"fruit" : "Mango","cost":30,"discount":10}
d

{'fruit': 'Mango', 'cost': 30, 'discount': 10}

In [11]:
d.setdefault("fruits")

In [13]:
d.keys()

dict_keys(['fruit', 'cost', 'discount', 'fruits'])

In [14]:
d.values()

dict_values(['Mango', 30, 10, None])

In [15]:
d.pop("discount")

10

In [16]:
d

{'fruit': 'Mango', 'cost': 30, 'fruits': None}

In [17]:
d1={"discount":10}
d.update(d1)
d

{'fruit': 'Mango', 'cost': 30, 'fruits': None, 'discount': 10}

In [18]:
d1=d.copy()
d1

{'fruit': 'Mango', 'cost': 30, 'fruits': None, 'discount': 10}

In [19]:
d1.clear()
d1

{}

In [20]:
d.popitem()

('discount', 10)

# Sets and its default function

In [21]:
s={34,"abc","hello",5,1,10}
s

{1, 10, 34, 5, 'abc', 'hello'}

In [22]:
s1={4,"abc",5,10}
s.difference(s1)

{1, 34, 'hello'}

In [23]:
s1.difference_update(s)
s1

{4}

In [24]:
s1.add("abc")
s1

{4, 'abc'}

In [25]:
s1.intersection(s)

{'abc'}

In [26]:
s1.intersection_update(s)
s1

{'abc'}

In [27]:
s1.issubset(s)

True

In [28]:
s.issuperset(s1)

True

# Tuple and explore its method

In [29]:
t=("name","id",20,60,60)
t

('name', 'id', 20, 60, 60)

In [30]:
t.count(60)

2

In [31]:
t.index("id")

1

# String and its default methods

In [32]:
string="hello world"
string

'hello world'

In [33]:
string.capitalize()

'Hello world'

In [34]:
string.upper()

'HELLO WORLD'

In [35]:
string.endswith("o")

False

In [151]:
string.startswith('h')

True

In [153]:
string.find("o")

4

In [36]:
string.isalnum()

False